<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navLinks"></nav>
<table class="table table-striped">
   <tr>
      <th>ID</th>
      <td th:text="${animal.id}"></td>
   </tr>
   <tr>
      <th>Species</th>
      <td th:text="${animal.details.species}"></td>
   </tr>
   <tr>
      <th>Description</th>
      <td th:text="${animal.details.description}"></td>
   </tr>
   <tr>
      <th>Handler</th>
      <td th:text="${animal.handler.name}"></td>
   </tr>
   <tr th:if="${tags.size()}">
      <th>Tags</th>
      <td><span th:each="tag : ${tags}"
      th:text="'#' + ${tag.name} + ' '"></span></td>
   </tr>
</table>
<a th:href="'/animals/add-tag?animalId=' + ${animal.id}" th:text="'Add Tag to ' + ${animal.name}"></a>
</body>
</html>