<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navLinks"></nav>
<p th:unless="${animals.size()}">Oops! No animals</p>
<table th:if="${animals.size()}" class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Species</th>
        <th>Description</th>
        <th>Handler</th>
    </tr>
    </thead>
    <tr th:each="animal : ${animals}">
        <td th:text="${animal.id}"></td>
        <td th:text="${animal.name}"></td>
        <td th:text="${animal.species}"></td>
        <td th:text="${animal.description}"></td>
        <td th:text="${animal.handler.displayName}"></td>
    </tr>
</table>
</body>
</html>